@font-face {
  font-family: "Gravity-Bold";
  src: url("../fonts/Gravity-Bold.otf");
}

@font-face {
  font-family: "Gravity-Regular";
  src: url("../fonts/Gravity-Regular.otf");
}

@font-face {
  font-family: "Gravity-Light";
  src: url("../fonts/Gravity-Light.otf");
}

@font-face {
  font-family: "Gravity-Book";
  src: url("../fonts/Gravity-Book.otf");
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: #282828;
  color: black;
}

.homeRow {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}

.homeImg {
  background-image: url("../img/sun1.JPG");
}

.homeBanner {
  background-image: url("../img/code.jpg");
  height: 240px;
}

.homeBannerPaper {
  background-image: url("../img/paper2.png");
  height: 240px;
}

.homeBannerTools {
  background-image: url("../img/sap.jpg");
  height: 240px;
}

.blackRow {
  color: white;
  background-color: #282828;
}

.whiteRow {
  color: black;
  background-color: white;
}

.softwareImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.GravityFont {
  font-family: "Gravity-Book";
}

.homeSouth {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  top: calc(100% - 120px);
}

.borderProj {
  padding-left: 70px;
  padding-right: 70px;
}

/* .paperrow {
    padding-left: 70px;
    padding-right: 70px;
} */

.borderProj .row,
.borderProj h3,
.borderProj p {
  -webkit-transition: -webkit-transform 0.15s ease;
  -moz-transition: -moz-transform 0.15s ease;
  -o-transition: -o-transform 0.15s ease;
  -ms-transition: -ms-transform 0.15s ease;
  transition: transform 0.15s ease;
  position: relative;
}
.borderProj .row {
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: #282828;
}
.borderProj h3 {
  padding-top: 8pt;
}

.borderProj .row:hover,
.borderProj h3,
.borderProj p {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 5;
}

.pad10 {
  padding: 10pt;
}

.projImg {
  width: 100%;
  vertical-align: middle;
  border: 1px solid #101010;
}

.paperImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /* vertical-align: middle; */
  border: 1px solid #101010;
}

.smoothScrollBtn {
  position: relative;
  border: none;
  background: none;
  font-size: 3em;
}

.smoothScrollBtn:focus {
  outline: 0;
}

.stealthLink {
  color: rgb(15, 14, 14);
  outline: 0;
  text-decoration: none;
  font-family: "Gravity-Regular";
  text-align: center;
}

.stealthLink:focus,
.stealthLink:hover {
  color: black;
  outline: 0;
  text-decoration: none;
  font-family: "Gravity-Regular";
  text-align: center;
}

.stealthLinkWhite {
  color: rgb(209, 209, 209);
  outline: 0;
  text-decoration: none;
  font-family: "Gravity-Regular";
  text-align: center;
}

.stealthLinkWhite:focus,
.stealthLinkWhite:hover {
  color: rgb(255, 255, 255);
  outline: 0;
  text-decoration: none;
  font-family: "Gravity-Regular";
  text-align: center;
}

.circleImg {
  border-radius: 50%;
  height: 250px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  border: 15px none #241e18;
  /* border-radiu s: 20%; */
  /* padding: 10px; */
  /* filter: blur(5px); */
}

.pad20 {
  padding: 20px;
  padding-bottom: 20px;
}

.papers {
  font-family: "Gravity-Regular";
  letter-spacing: 10px;
  padding-left: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  text-align: left;
}

.rowPad {
  padding: 40px;
  text-align: justify;
}

.passionDiv {
  height: 50px;
  background-color: white;
}

.tileTitle {
  padding-top: 10px;
  text-align: center;
}

.tileDesc {
  text-align: center;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Gravity-Regular";
}

.centerLinks {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.centerLinks a {
  color: gray;
  font-family: "Gravity-Regular";
  transition: 0.2s ease-in-out;
}

.centerLinks a:hover {
  /* text-decoration: underline; */
  color: white;
}

.sub {
  font-family: "Gravity-Regular";
  letter-spacing: 10px;
}

.tilePadWide {
  padding: 40px;
}

.tilePadMin {
  padding: 10px;
}

.centerLinks > li > a {
  text-decoration: none;
}

.centerLinks .brText {
  display: inline-block;
  color: #42536d;
}

.videoBack {
  background-color: #e62117;
}

.centerBtn {
  margin: 40px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.softwareDiv {
  padding-top: 40px;
  padding-bottom: 40px;
}

.softwareTitle {
  color: #b5b5b5;
}

.projectsQuick {
  /* background-image: url("../images/IMG_1716.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.centerTitle {
  text-align: center;
  padding-bottom: 60px;
}

.leftTitle {
  text-align: left;
  vertical-align: middle;
  line-height: 50px;
  font-family: "Gravity-Book";
  font-size: 2em;
  padding-left: 50px;
  padding-bottom: 40px;
}

.learnFilmsBtn {
  border-color: #ffdbdb;
  background-color: #ffdbdb;
  color: #e62117;
}

.learnFilmsBtn:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: white;
  border-color: white;
  color: #e62117;
}

.photoBack {
  /* background-image: url("../images/IMG_7509.JPG"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-left: 0px;
    padding-right: 0px; */
}

.backBlur {
  background-color: rgba(0, 0, 0, 0.4);
}

.landImg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .padtop0 {
  padding-top: 0px;
}

body .padX0 {
  padding-left: 0px;
  padding-right: 0px;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.padB40 {
  padding-bottom: 40px;
}

.w100 {
  width: 100%;
}

.subText,
.listPad li {
  font-family: "Gravity-Regular";
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0px;
}

.subP {
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Gravity-Regular";
  font-size: 1em;
  letter-spacing: 1px;
}

.subPmin {
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Gravity-Regular";
}

.extPad {
  padding: 60px;
  padding-top: 20px;
}

.listPad li {
  padding: 20px;
  padding-top: 0px;
}

.listPad {
  padding: 40px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.minpadY {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padY40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subTitle {
  font-family: "Gravity-Regular";
  letter-spacing: 10px;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  text-align: center;
}

.textCent,
.cenX {
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.linkGrey,
.linkGrey:hover {
  padding: 6px;
  color: gray;
  font-family: "Gravity-Regular";
}

.backDark {
  background-color: #191919;
}

.exText div h5 {
  font-family: "Gravity-Regular";
  font-size: 1.2em;
}
.exText div {
  padding: 0px;
}

.round3 {
  border-radius: 3px;
}

.titleMain {
  font-family: "Gravity-Regular";
  letter-spacing: 20px;
  color: #191919;
}

.regTitle {
  font-family: "Gravity-Regular";
  letter-spacing: 5px;
}

.subT2 {
  font-family: "Gravity-Regular";
  letter-spacing: 5px;
}

.btnLinks .col-md-4 {
  text-align: center;
}

.btnLinks .col-md-4 p {
  padding-bottom: 10px;
  font-family: "Gravity-Regular";
}

.leftCenter {
  display: inline-block;
  text-align: left;
}

.btnLinks.extPad {
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .circleImg {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
  }
  /* Suitable for mobile devices */

  /* Mobile devices */
  /*
.rowPad {
        padding-right: 0px;
        padding-left: 0px;
    }
    .tilePadWide {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 768px) {
    .softwareDiv, .electronicsDiv {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .aboutMe {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .tilePad {
        padding: 10px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

} */
}

@media (max-width: 991px) {
  .extraSpace {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .centerTitle {
    padding-bottom: 40px;
  }

  .paperImg {
    width: 30%;
    /* border: none; */
    /* vertical-align: center; */
    /* border: 1px solid #101010; */
  }
}
/*
@media (min-width: 992px) {
    .videoBack div div .tilePadMin {
        padding-top: 40px;
        padding-bottom: 40px;
    } */

@media (max-width: 991px) {
  .sub {
    letter-spacing: 0px;
  }
}

@media (max-width: 767px) {
  .btnLinks .bot {
    padding-bottom: 60px;
  }
  .sub {
    letter-spacing: 10px;
  }
  .btnLinks {
    padding-bottom: 0px;
  }
  .extPad,
  .subP {
    padding-left: 20px;
    padding-right: 20px;
  }
  .subTitle {
    padding-left: 20px;
  }
  .listPad {
    padding-left: 40px;
    padding-right: 0px;
  }
  .listPad li {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 458px) {
  .titleMain {
    letter-spacing: 10px;
  }
  .exText div h5 {
    font-family: "Gravity-Regular";
    font-size: 1em;
  }
  .topPad {
    padding-top: 120px;
  }
  .sub {
    letter-spacing: 0px;
  }
}
@media (max-width: 369px) {
  .titleMain {
    font-size: 2em;
    letter-spacing: 0px;
  }
}

@media (min-width: 992px) {
  .topPad {
    padding-top: 200px;
  }
}
