.error-page {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $sec;
    color: $blue-light;
    font-family: "Courier New", Courier, monospace;
}

.error-container {
    margin-top: 2rem;
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background: $main-404;
    border-radius: 10px;
    box-shadow: 0 4px 8px $black
}

.error-code {
    font-size: 8rem;
    font-weight: 700;
    color: $red;
}

.error-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.error-description {
    margin-bottom: 30px;
    color: $grey;
}

.error-emoji {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.code-snippet {
    background-color: $main;
    padding: .5rem;
    border-radius: 5px;
    text-align: left;
    color: $grey;
}

.btn-home {
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: $blue;
    color: $main;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-home:hover {
    background-color: $blue-dark;
}
