.archive-info {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.archive-list {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;

    a {
        text-decoration: none;
        color: $main;
    }
}
