#post {
    width: 98%;
    padding-left: 0;
    padding-right: 0;

    @media (max-width: $xl) {
        width: 95%;
    }

    @media (max-width: $lg) {
        width: 90%;
    }
}

.blog-cards {
    background: light-dark($bg-light, $main);
    color: light-dark($main, $white);

    h5 {
        font-size: large;
    }

    a {
        text-decoration: none;
        padding: 0;
        margin: 0;

        &:hover {
            color: $sec-light;
        }

        &:active {
            color: $sec-light;
        }
    }
}

.sidebar {
    padding: 15px;
    overflow-y: visible;

    // z-index: -1;
    // display: flex;
    // height: 0;
    @media (max-width: $lg) {
        width: 0%;
    }
}

.sidebar-content {
    top: 6rem;

    p {
        margin-bottom: 0;
    }

    h4,
    h5 {
        padding-top: 0;
        margin-top: 0;
    }
}

.sidbar-cards {
    background: light-dark($bg-light, $main);
    color: light-dark($main, $white);
}

.sidebar-cards-header {
    background: light-dark($bg-light, $sec-dark);
}

.post-info {
    text-align: right;
    color: light-dark($main, $white);
}

.support-me {
    margin-left: 15%;
    margin-right: 15%;
}

.content-area {
    margin-left: 10%;
    margin-right: 10%;
    overflow-y: auto;

    p,
    li {
        font-size: large;
        text-align: justify;
        word-wrap: break-word;
        line-height: 1.8em;

        color: light-dark($main, $white);
        font-family: 'Roboto';
        letter-spacing: 1px;

        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    summary {
        padding-top: 0;
        margin-right: auto;
        margin-left: auto;
    }

    ul,
    ol,
    li {
        word-wrap: break-word;
    }

    table {
        width: 95%;
    }
}

@media (max-width: $lg) {
    .content-area {
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }

    .support-me {
        margin-left: 10%;
        margin-right: 10%;
    }
}
