pre {
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    width: 98%;


    @media (max-width: $cut) {
        width: 95%;
    }

    @media (max-width: $xl) {
        max-width: 45rem;
    }
}

details {
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    width: 98%;
}


.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;

    code {
        word-wrap: break-word;
    }
}

.giallo-ln {


    /* The line numbers already provide some kind of left/right padding */
    user-select: none;
    margin-right: 0.4em;
    padding: 0.5em;
    text-align: right;
    opacity: 0.8;
}
