.user {
  text-align: center;
  font-size: 60px;
  justify-content: space-between;

  p {
    font-size: medium;
    margin-right: 4rem;
    margin-left: 4rem;

    @media only screen and (max-width: $cut) {
      margin-right: 2rem;
      margin-left: 2rem;
    }
  }
}

.user-details {
  text-align: center;
  padding-left: 0;
  padding-right: 0;

  p {
    text-align: justify;
    font-size: large;
    font-weight: 500;

    @media only screen and (max-width: $cut) {
      margin-right: 2rem;
      margin-left: 2rem;
    }
  }
}

.projects {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}

.project-card {
  background: light-dark($bg-light, $main);
  color: light-dark($text-light, $text-dark);
  border-color: $sec-light;

  img {
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $lg) {
    div {
      margin-left: auto;
      margin-right: auto;
    }

    img {
      max-width: 500px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.search-title {
  scroll-margin: -100px
}

.search-card {
  margin-left: auto;
  margin-right: auto;
  max-width: $md;
  background: light-dark($bg-light, $main);
  color: light-dark($main, $white);
}

.search-link {
  a {
    text-decoration: none;
    margin: 0;

    &:hover {
      color: $sec-light;
    }

    &:active {
      color: $sec-light;
    }
  }
}

.project-link {
  @media only screen and (max-width: $cut) {
    margin-bottom: 1rem;
  }

  @media (max-width: $lg) {
    margin: auto;
  }

  display: inline-block;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin: 10px 0px;
  padding: 5px;

  background-color: transparent;
  border: 1px solid $main;
  border-radius: 10px;
  cursor: pointer;

  transition: color 0.3s ease-out,
  background-color 0.3s ease-out,
  border-color 0.3s ease-out;

  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
      background-color 0.3s ease-in,
      border-color 0.3s ease-in;
  }

  &:active {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
      background-color 0.3s ease-in,
      border-color 0.3s ease-in;
  }
}
