.navbar-search-container {
    display: flex;

    input[type="search"] {
        width: 0;
        height: 40px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 20px;
        transition: width 0.4s ease-in-out;
        opacity: 0;
    }

    button {
        width: 40px;
        height: 40px;
        background-color: #007BFF;
        border: none;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;

        i {
            color: white;
            font-size: 20px;
        }
    }

    &:hover input[type="search"] {
        width: 200px;
        opacity: 1;
    }
}
