// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$cut: $md;

// Color
$black: #000;
$red: #ff5555;
$blue: #007BFF;
$white: #ffff;
$grey-light: #e7e5e591;
$grey: #abb2bf;
$blue-light: #61dafb;
$blue-dark: #3c51be;
$purple: #54516A;

$not-found: #20232a;
$bg-light: $white;
$bg-dark: #2b3745;
$text-light: #333;
$text-dark: $white;

$main: #1a222c;
$sec-light: #a7a7a7;
$sec-dark: #292a2d;
$thd-light: #555;
$thd-dark: #c8c8c8;

$table-bg-head-light: #f2f2f2;
$table-bg-head-dark: $main;
$table-bg1-light: $white;
$table-bg1-dark: $black;
$table-bg2-light: #f9f9f9;
$table-bg2-dark: $sec-light;
