<!DOCTYPE HTML>
<html>

<head>
    <title>Henrik Gerdes - Papers</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../../public/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/page.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css" />

    <link rel="stylesheet" type="text/css" href="../../public/css/spacing.css">

    <script type="text/javascript" src="../../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../public/js/nav.js"></script>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg toggle-height" id="global-nav">
        <div class="container">
            <a class="navbar-brand scrollN" href="/">Henrik Gerdes</a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon custom-toggler"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li> <a class="nav-link scrollN" href="../content/projects.html">Projects</a></li>
                    <li> <a class="nav-link scrollN" href="../content/papers.html">Papers</a></li>
                    <li><a class="nav-link scrollN" href="../content/tools.html">Tools</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="nav-link scrollN" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="homeRow container-fluid">
        <div class="GravityFont center container">
            <h1 class="titleMain cenX">THEORETICAL WORK</h1>

            <div class="row homeRow homeBannerPaper"></div>
            <h3 class="subTitle">Essays | Papers | Presentations | Thesis</h3>
        </div>

        <div class="homeSouth">
            <h4><a class="stealthLink subTitle pad20" href="#papers">VIEW PAPERS</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="../../public/img/icon/arrow_black.png"
                    width="30" /></button>
        </div>
    </div>

    <div class="container-fluid whiteRow pad20">
        <h3 class="papers" style="text-align: center;">TECHNICAL KNOALAGE</h3>
    </div>

    <div class="container-fluid whiteRow pad20">
        <div class="container">
            <a name="papers"></a>
            <h3 class="papers" style="text-align: center;">Connecting Software - <br
                    style="line-height:22px; padding-bottom: 50px;">ESB
                principles and solutions</h3>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mycenter">
                        <a href="../../public/docs/swe_connecting.pdf"><img src="../../public/img/SWE-Connect.png"
                                class="paperImg"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <p class="subP"><em><i>Abstract:</i></em><br /><br />
                        Software solutions, especially for enterprise applications, currently demand
                        extensive requirements. To meet these requirements, developers started to split
                        monolithic applications into smaller parts to gain better scalability, maintainability and make
                        them future-proof. <br>
                        This paper presents general principles and
                        examples to connect these smaller applications allowing them to provide the
                        same functionality as monolithic applications. Furthermore, this paper also
                        presents several services for end-users to interconnect individual IoT devices
                        from different manufacturers to work together.
                    </p>
                    <p class="subP">View the paper <a href="../../public/docs/swe_connecting.pdf">here.</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid whiteRow pad20">
        <div class="container">
            <h3 class="papers" style="text-align: center;">Connecting Software - <br>LaTeX Presentation</h3>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mycenter">
                        <a href="../../public/docs/connecting_pres.pdf"><img src="../../public/img/SWE-Pres.png"
                                class="paperImg"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <p class="subP"><em><i>Abstract:</i></em><br /><br />
                        This presentation belongs to the paper about Connecting Software. It summarizes the acquired
                        knowledge for the paper and visualizes the information in a appealing form.
                        It introduces the fundamental concepts of application communication and functions of an ESB <br>
                        The document was created with LaTeX. Source can be found at my GitHub.
                    </p>
                    <p class="subP">View the paper <a href="../../public/docs/connecting_pres.pdf">here.</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid whiteRow pad20">
        <div class="container">
            <h3 class="papers" style="text-align: center;">Beblebrox CTF - <br>Training SEC CTF</h3>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mycenter">
                        <a href="../../public/docs/ctf_paper.pdf"><img src="../../public/img/ctf_paper.png"
                                class="paperImg"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <p class="subP"><em><i>Abstract:</i></em><br /><br />
                        This paper describes the process and structure of a CTF for IT security. Within an internship of
                        a local IT-Security and Consulting company I created a training for security analysts and pen
                        testers. The audience for this CTF are beginners at IT-Sec but they already should have common
                        Linux skills. <br>
                        The structure is similar to to the CTFs at OverTheWire, except the hosting is done local with an
                        VirtualBox-Image. <br>
                        After complexation the participant should have acquired the skills write basic bash scripts,
                        know SQL injection, know how bypass web authentication, scrape the web with python, crack
                        passwords and search for open ports. <br>
                        Source is on GitHub, for the VM please contact me.
                    </p>
                    <p class="subP">View the paper <a href="../../public/docs/ctf_paper.pdf">here.</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid whiteRow pad20">
        <div class="container">
            <h3 class="papers" style="text-align: center;">Pacman Poster - <br>Implementing Pacman on real streets</h3>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mycenter">
                        <a href="../../public/docs/pac-poster-general.pdf"><img
                                src="../../public/img/pac-poster_general.png" class="paperImg"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <p class="subP"><em><i>Abstract:</i></em><br /><br />
                        With the Shared Systems working group I created a multiplayer Pacman clone. The maps are based
                        on real street maps. The goal is to acquire as many packages as possible without loosing them to
                        the ghosts or other players. <br>
                        Maps can be dynamically generated. Street information are provided by the API of the
                        OpenStreetMap (OSM) project. The ghost movement are based on the MSLAW and RandomStreet movement
                        models,
                        both models simulate real human movement. Rendering and game-logic are implemented with PyGame.
                        <br>
                        The poster gives a general overview about the project. It lists the used tools and process of
                        development. All basic gameplay concepts are explained and design decisions are discussed.
                    </p>
                    <p class="subP">View the paper <a href="../../public/docs/poster.pdf">here.</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid whiteRow pad20">
        <div class="container">
            <h3 class="papers" style="text-align: center;">Pacman Poster - <br>Metrics about game movement models</h3>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="mycenter">
                        <a href="../../public/docs/pac-poster-specific.pdf"><img src="../../public/img/pac-poster.png"
                                class="paperImg"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <p class="subP"><em><i>Abstract:</i></em><br /><br />
                        This poster is a more specific purpose based poster to the same Pacman project. After the
                        development phase
                        was done we were ask to do some scientific analyses on the game. <br>
                        The poster systematical analyses the impact of MSLAW and RandomStreet movement parameters on
                        game
                        difficulty. For consistent testing purposes an AI player was created. Its movement was
                        controlled by the OpenStreet-Routing-Machine (OSRM).<br>
                        Every parameter variation was run several times and gameplay events were logged. The data was
                        than alkalized and visually processed.
                    </p>
                    <p class="subP">View the paper <a href="../../public/docs/pac-poster-specific.pdf">here.</a></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer container-fluid pad20" style="padding-bottom: 50px;">
        <a name="contact"></a>
        <div class="container">
            <h3 class="footerText footerSpace">CONTACT INFORMATION</h3>
            <ul class="centerLinks socialIcons">
                <li style="display:inline-block">
                <li style="display:inline-block">
                    <a href="https://github.com/hegerdes"><img src="../../public/img/icon/github.png"> </a>
                </li>
                <li style="display:inline-block">
                    <a href="mailto:hegerdes@uos.de"><img src="../../public/img/icon/email.png"> </a>
                </li>
            </ul>
            <p class="footerText subP">Email me with any suggestions, collaborations or just to talk!<br><a
                    class="stealthLinkWhite" href="mailto:hegerdes@uos">hegerdes@uos.de</a></p>
        </div>
    </footer>
</body>

</html>