<!DOCTYPE HTML>
<html>

<head>
    <title>Henrik Gerdes - Projects</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../../public/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/page.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css" />

    <link rel="stylesheet" type="text/css" href="../../public/css/spacing.css">

    <script type="text/javascript" src="../../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../public/js/nav.js"></script>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg toggle-height" id="global-nav">
        <div class="container">
            <a class="navbar-brand scrollN" href="/">Henrik Gerdes</a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon custom-toggler"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li> <a class="nav-link scrollN" href="../content/projects.html">Projects</a></li>
                    <li> <a class="nav-link scrollN" href="../content/papers.html">Papers</a></li>
                    <li><a class="nav-link scrollN" href="../content/tools.html">Tools</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="nav-link scrollN" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="homeRow container-fluid">
        <div class="GravityFont center container">
            <h1 class="titleMain cenX">CODE REPOSITORY</h1>

            <div class="row homeRow homeBanner"></div>
            <h3 class="subTitle" style="line-height: 150%">JAVA | C/C++ | Python | WEB | IT-Sec</h3>
        </div>

        <div class="homeSouth">
            <h4><a class="stealthLink subTitle pad40" href="#">VIEW PROJECTS</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="../../public/img/icon/arrow_black.png" width="30" /></button>
        </div>
    </div>

    <div class="container-fluid whiteRow pad20">
        <div class="container pad20">
            <div class="borderProj">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="projCenter">
                            <img src="../../public/img/proj/flappy.gif" class="projImg">
                        </div>
                    </div>
                    <div class="projText col-lg-8 col-md-12">
                        <h3 class="regTitle">FlappyBird | Java</h3>
                        <p class="subP italic">A OpenGL FlappyBird clone</p>
                        <p class="subText white extPad" id="desc">You gotta jump an the hype. This is a simple
                            FlappyBird clone written in Java using LWJGL. It uses OpenGL Shaders and Vertices for
                            rendering. Just like the mobile version this game is hard. But installation is easy. Just
                            clone the code and run maven on the pom.xml. Maven takes care of all dependency's. <br><br>
                            <a class="btn btn-secondary btn-lg w100" href="https://github.com/hegerdes/FlappyBird"
                                role="button">View Repository</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid whiteRow pad20">
        <div class="container pad20">
            <div class="borderProj">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="projCenter">
                            <img src="../../public/img/proj/spaceqt.gif" class="projImg">
                        </div>
                    </div>
                    <div class="projText col-lg-8 col-md-12">
                        <h3 class="regTitle">QT Game | C++</h3>
                        <p class="subP italic">Strategy game with OpenGL duels</p>
                        <p class="subText white extPad" id="desc">This is a round based 2D/3D strategy game. Two players
                            fight over map domination. In the case of direct attacks, the player must win a real time 3D
                            space shooter fight.<br>
                            Window management, views, Networking and synchronization are done in QT-Framework. Boost is
                            used for IO, graph algorithms and way finding. <br><br>
                            <a class="btn btn-secondary btn-lg w100" href="https://github.com/hegerdes/GalaxyFight"
                                role="button">View Repository</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid whiteRow pad20">
        <div class="container pad20">
            <div class="borderProj">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="projCenter">
                            <img src="../../public/img/proj/fight1.gif" class="projImg">
                        </div>
                    </div>
                    <div class="projText col-lg-8 col-md-12">
                        <h3 class="regTitle">SpaceShooter | C++</h3>
                        <p class="subP italic">OpenGL 3rd person SpaceShooter</p>
                        <p class="subText white extPad" id="desc">This is just the 3D part of the previous project This
                            has no networking and was a playground for C++ features. I used Boost, templates and meta
                            template programming in this project to mess around with as most of C++ functions.<br>
                            Instead of QT I used SDL2. Build-system is done with cmake an custom scripts.
                            <br><br>
                            <a class="btn btn-secondary btn-lg w100" href="https://github.com/hegerdes/Cpp2018-VL"
                                role="button">View Repository</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid whiteRow pad20">
        <div class="container pad20">
            <div class="borderProj">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="projCenter">
                            <img src="../../public/img/proj/pac1.gif" class="projImg">
                        </div>
                    </div>
                    <div class="projText col-lg-8 col-md-12">
                        <h3 class="regTitle">Pacmap | Python</h3>
                        <p class="subP italic">Map based multiplayer Pacman</p>
                        <p class="subText white extPad" id="desc">Pacmap is a custom version of Pacman. The map is a map
                            section of the real world using OSM. Multiple players try to capture packages and
                            deliver them to a random position. Ghosts and other players try to steal these packages.<br>
                            Ghosts move simulate real human movement, using the MSLAW or Random street model. Rendering
                            is done with PyGame. New maps can be generated with OpenStreetMaps.<br><br>
                            <a class="btn btn-secondary btn-lg w100" href="https://github.com/hegerdes/RealWorldPacman"
                                role="button">View Repository</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid whiteRow pad20">
        <div class="container pad20">
            <div class="borderProj">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="projCenter">
                            <img src="../../public/img/proj/ctf.png" class="projImg">
                        </div>
                    </div>
                    <div class="projText col-lg-8 col-md-12">
                        <h3 class="regTitle">Beeblebrox CTF | JS/Bash</h3>
                        <p class="subP italic">Capture the Flag for IT-Sec starters</p>
                        <p class="subText white extPad" id="desc">Within an IT-Security internship a created a training
                            CTF. <br>
                            This CTF is for beginners and helps to understand Unix, the Terminal, Scripting, Reverse
                            engineering, SQL Injections and Web- Authentication; Web-Scraping. The whole CTF is in a VM.
                            Th get the VM please contact me. Every task in the CTF has its own WebPage with description
                            which is done with NodeJS. Visit a copy of the pages <a class="stealthLink"
                                href="../content/ctf/index.html">here</a>.<br>
                            The code for the CTF creation is on my GitHub.<br><br>
                            <a class="btn btn-secondary btn-lg w100" href="https://github.com/hegerdes/BeeblebroxCTF"
                                role="button">View Repository</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid btnLinks whiteRow extPad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 bot">
                    <div class="leftCenter">
                        <h3 class="sub2">FOUND A BUG?</h3>
                        <p class="subText">Let me know</p>
                        <a class="btn btn-success btn-lg w100" href="https://github.com/hegerdes"
                            role="button">GitHub</a>
                    </div>
                </div>
                <div class="col-md-4 bot">
                    <div class="leftCenter">
                        <h3 class="sub2">CONTRIBUTE</h3>
                        <p class="subText">Take part in the project</p>
                        <a class="btn btn-secondary btn-lg w100" href="#contact" role="button">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer container-fluid pad20" style="padding-bottom: 50px;">
        <a name="contact"></a>
        <div class="container">
            <h3 class="footerText footerSpace">CONTACT INFORMATION</h3>
            <ul class="centerLinks socialIcons">
                <li style="display:inline-block">
                <li style="display:inline-block">
                    <a href="https://github.com/hegerdes"><img src="../../public/img/icon/github.png"> </a>
                </li>
                <li style="display:inline-block">
                    <a href="mailto:hegerdes@uos.de"><img src="../../public/img/icon/email.png"> </a>
                </li>
            </ul>
            <p class="footerText subP">Email me with any suggestions, collaborations or just to talk!<br><a
                    class="stealthLinkWhite" href="mailto:hegerdes@uos">hegerdes@uos.de</a></p>
        </div>
    </footer>
</body>

</html>