<!DOCTYPE HTML>
<html>

<head>
    <title>Henrik Gerdes - Tools</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../../public/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/page.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css" />

    <link rel="stylesheet" type="text/css" href="../../public/css/spacing.css">

    <script type="text/javascript" src="../../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../public/js/nav.js"></script>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg toggle-height" id="global-nav">
        <div class="container">
            <a class="navbar-brand scrollN" href="/">Henrik Gerdes</a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon custom-toggler"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li> <a class="nav-link scrollN" href="../content/projects.html">Projects</a></li>
                    <li> <a class="nav-link scrollN" href="../content/papers.html">Papers</a></li>
                    <li><a class="nav-link scrollN" href="../content/tools.html">Tools</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="nav-link scrollN" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="homeRow container-fluid">
        <div class="GravityFont center container">
            <h1 class="titleMain cenX">Tools</h1>

            <div class="row homeRow homeBannerTools"></div>
            <h3 class="subTitle">OS | Hardware | Software | Equipment</h3>
        </div>

        <div class="homeSouth">
            <h4><a class="stealthLink subTitle pad20" href="#tools">VIEW EQUIPMENT</a></h4>
            <button class="smoothScrollBtn" type="button"><img src="../../public/img/icon/arrow_black.png"
                    width="30" /></button>
        </div>
    </div>

    <div class="container-fluid whiteRow pad20">
        <h3 class="papers" style="text-align: center;">MY EQUIPMENT</h3>

    </div>


    <div class="container-fluid whiteRow pad20">
        <div class="container">
            <a name="tools"></a>
            <h3>The stuff I use</h3>
            <br>
            <div class="mylist">
                <div class="row">
                    <div class="col-md-4">
                        <p>Hardware</p>
                        <ul>
                            <li>Lenovo ThinkPad E490</li>
                            <li>Microsoft Surface Pro 4</li>
                            <li>DELL P2219H 21,5"</li>
                            <li>Microsoft Modern Mobile Mouse</li>
                            <li>Acer E1 572G</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Software</p>
                        <ul>
                            <li>Windows 10 Pro</li>
                            <li>Debian Buster</li>
                            <li>VS Code</li>
                            <li>IntelliJ</li>
                            <li>Visual Studio</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Other</p>
                        <ul>
                            <li>Samsung S7 Black</li>
                            <li>Samsung S3 (Testing)</li>
                            <li>Raspberry Pi 3/4B+</li>
                            <li>Arduino</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer container-fluid pad20" style="padding-bottom: 50px;">
        <a name="contact"></a>
        <div class="container">
            <h3 class="footerText footerSpace">CONTACT INFORMATION</h3>
            <ul class="centerLinks socialIcons">
                <li style="display:inline-block">
                <li style="display:inline-block">
                    <a href="https://github.com/hegerdes"><img src="../../public/img/icon/github.png"> </a>
                </li>
                <li style="display:inline-block">
                    <a href="mailto:hegerdes@uos.de"><img src="../../public/img/icon/email.png"> </a>
                </li>
            </ul>
            <p class="footerText subP">Email me with any suggestions, collaborations or just to talk!<br><a
                    class="stealthLinkWhite" href="mailto:hegerdes@uos">hegerdes@uos.de</a></p>
        </div>
    </footer>
</body>

</html>