@font-face {
  font-family: 'Gravity-Bold';
  src: loca l('Gravity-Bold'), url(~assets/fonts/Gravity-Bold.otf);
}

@font-face {
  font-family: 'Gravity-Regular';
  src: loca l('Gravity-Regular'), url(~assets/fonts/Gravity-Regular.otf);
}

@font-face {
  font-family: 'Gravity-Light';
  src: loca l('Gravity-Light'), url(~assets/fonts/Gravity-Light.otf);
}

@font-face {
  font-family: 'Gravity-Book';
  src: loca l('Gravity-Book'), url(~assets/fonts/Gravity-Book.otf);
}

html {
  font-family: 'Gravity-Regular';
}
.centerTitle {
  text-align: center;
  font-family: Gravity-Regular;
}

.stealth-link a {
  color: gray;
  font-family: 'Gravity-Regular';
  transition: 0.2s ease-in-out;
}

.stealth-link a:hover {
  color: white;
}
