{% extends "base.html" %}

{% import "macros/macros.html" as macros %}
{% import "macros/navbar.html" as nav %}
{% import "macros/footer.html" as foot %}

{% block body %}


<body>
    {{ nav::navbar() }}

    {% block content %}
    <h1 class="title">
        {{ section.title }}
    </h1>
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        {% for page in section.pages %}
                        <li><a href="{{ get_url(path=page.path) }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    {{ foot::footer() }}

</body>

{% endblock body %}
