{% extends "base.html" %}

{% import "macros/shared.html" as shared %}
{% import "macros/navbar.html" as nav %}
{% import "macros/footer.html" as foot %}

{% block body %}

<body>
    {{ nav::navbar() }}
    {% block content %}

    <section id="post">
        <div class="row container-fluid">
            <!-- Offcanvis exampe: https://hot.page/demos/bootstrap -->
            <div class="col-lg-2 sidebar shadow offcanvas-lg offcanvas-start">
                <div class="sidebar-content sticky-top">
                    <img src="/img/avatar.jpeg" alt="runded avatar anime profile pricture" class="rounded-circle">
                    <p>Author:</p>
                    <h4>{{ config.extra.username }}</h4>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>

                </div>
            </div>
            <div class="col">
                <div class="post-info">
                    <p>
                        <i class="fas fa-pen"></i> {% if page.date %}Published: {{ page.date |
                        date(format="%d/%m/%Y")
                        }} {%endif %}<br>
                        <i class="fab fa-readme"></i> {{ page.reading_time }} minute read
                    </p>
                </div>
                <!-- Main Contenr -->
                <article class="content-area">
                    {{ page.content | safe }}
                </article>
                <!-- Sponsering links -->
                <div class="support-me">
                    <p><b>❤️ Is this article helpful?</b></p>
                    <p>
                        <a href="https://www.buymeacoffee.com/hegerdes">Buy me a coffee☕</a>,
                        <a href="https://paypal.me/hegerdes?country.x=DE&locale.x=de_DE">PayPal me</a>
                        or support this space to keep it 🖖 and ad-free.
                    </p>
                    <p>
                        If you can't, do send some 💖 or help to share this article.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}

    {{ foot::footer() }}

</body>
{% endblock body %}
