{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block body %}

<body>
    {{ macros::navbar() }}
    {% block content %}


    <section id="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 sidebar">
                    <div class="sidebar-content">
                        <img src="/img/avatar.jpeg" alt="hugenerd" class="rounded-circle">
                        <p>Author:</p>
                        <h4>{{ config.extra.username }}</h4>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col">
                    <div class="post-info">
                        <p>
                            <i class="fas fa-pen"></i> {% if page.date %}Published: {{ page.date |
                            date(format="%d/%m/%Y")
                            }} {%endif %}<br>
                            <i class="fab fa-readme"></i> {{ page.reading_time }} minute read
                        </p>
                    </div>
                    <!-- Main Contenr -->
                    <article class="content-area">
                        {{ page.content | safe }}
                    </article>
                    <!-- Sponsering links -->
                    <div class="support-me">
                        <p><b>❤️ Is this article helpful?</b></p>
                        <p>
                            <a href="https://www.buymeacoffee.com/hegerdes">Buy me a coffee☕</a>,
                            <a href="https://paypal.me/hegerdes?country.x=DE&locale.x=de_DE">PayPal me</a>
                            or support this space to keep it 🖖 and ad-free.
                        </p>
                        <p>
                            If you can't, do send some 💖 or help to share this article.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}

    {{ macros::footer() }}

</body>
{% endblock body %}
