{% extends "base.html" %}

{% import "macros.html" as macros %}


{% block body %}


<body>
    {{ macros::navbar() }}

    {% block content %}
    <h1 class="title">
        {{ section.title }}
    </h1>
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        {% for page in section.pages %}
                        <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    {{ macros::footer() }}

</body>

{% endblock body %}
